footer {
  background-color: #862633; /* Dark red background */
  color: #fff;
  padding: 20px 0;
}

h4 {
  font-size: 20px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1500px;
  margin: 0 auto;
}

#email {
  color: white;
}

.footer-section {
  flex: 1;
  margin: 50px;
  min-width: 225px;
  text-align: left; /* Align text to the left */
}

.footer-section h3,
.footer-section h4 {
  margin-bottom: 20px;
}

.footer-section p,
.footer-section ul {
  margin: 10px 0;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.contact-link {
  display: block;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline;
}
