  .main-content {
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
  }
  .school-name{
    color: #862633;
    font-size: 25px;
  }

  .slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 25%; /* Full-width */
    height: 15px; /* Specified height */
    background: linear-gradient(to right, #E9AFB7, #B30738);
    outline: none; /* Remove outline */
    opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 25px;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: black; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  .metric-inline{
    display: inline-block;
  }

  .metrics {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .review-element{
    margin-top: 10px;
  }

  #comments {
    width: 50%; 
    height: 100px;
    background-color: rgb(234, 234, 234);
    border-style: none;
    border-radius: 10px;
    margin-top: 10px;
  }

  /* Hide the file input */
  #myFile {
    display: none;
  }
  /* Style the image */
  .upload-image {
    cursor: pointer;
    width: 30px; 
    height: 30px; 
  }
  
  .icon{
    width: 50px; 
    height: 50px; 
  }

  .container {
    border-radius: 7px;
    background-color: white;
    border-color: #e6e6e6;
    border-style: solid;
    padding: 25px;
    padding-left: 30px;
    margin-bottom: 25px;
  }

  .input-group__input {
    font-size: 14px; /* Change the font size of the placeholder text */
    text-align: left; /* Align the placeholder text to the left */
    padding-top: 15px;
    padding-left: 20px;
    border-radius: 15px;
    color: black;
    background-color: #e6e6e6;
    border-style: none;
  }

  .button{
    margin-bottom: 10px;
    margin-top: 15px;
    background-color: #862633;
    color: white;
    padding: 10px;
    border-radius: 25px;
    border-style: none;
    font-size: 15px;
    width: 150px;
  }


