* {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", serif;
}

header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 104px;
  background: #862633;
}

.navbar-logo {
  padding: 1.5rem;
  float: left;
}

.nav-bar {
  border: 1px solid white;
  width: 100px; /* Adjust the width as needed */
  margin-top: 1.5rem;
  margin-right: 3rem;
  padding: 0; /* Reset padding */
  list-style-type: none;
  float: right;
  text-align: right; /* Align text to the right */
}

.login {
  padding: 1rem;
  color: white;
}

.login:visited {
  color: white;
}
